.chat {
  flex: 0.7;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.chat_header {
  padding: 7px 20px 7px 20px;
  display: flex;
  align-items: center;
  background-color: rgb(174, 0, 255);
  border-bottom: 1px solid lightgray;
}
.chat_headerInfo {
  flex: 1;
  padding-left: 20px;
}
.chat_headerInfo > h3 {
  color: white;
  margin-bottom: 3px;
  font-weight: 500;
}
.chat_headerInfo > p {
  color: rgb(236, 236, 236);
}
.chat_headerRight {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
}
.chat_headerRight .MuiSvgIcon-root {
  color: white !important;
}
.chat_body {
  flex: 1;
  background-color: rgb(243, 243, 252);
  padding: 30px;
  overflow-y: scroll;
}
.chat_massage {
  position: relative;
  font-size: 16px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  width: fit-content;
  margin-bottom: 30px;
}
.chat_massage::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-right: 12px solid white;
  border-left: 12px solid transparent;
  border-top: 12px solid white;
  border-bottom: 12px solid transparent;
  right: 80px;
  top: 0px;
}
.chat_reciever {
  margin-left: auto;
  background-color: rgb(236, 207, 250);
}
.chat_reciever::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid rgb(236, 207, 250);
  border-right: 15px solid transparent;
  border-top: 15px solid rgb(236, 207, 250);
  border-bottom: 15px solid transparent;
  right: -16px;
  top: 0px;
}
.chat_reciever .chat_name {
  color: rgb(0, 0, 0);
}
.chat_name {
  position: absolute;
  top: -15px;
  font-weight: 700;
  font-size: xx-small;
}
.chat_timestamp {
  margin-left: 10px;
  font-size: xx-small;
}
